/*.results {

	border: 2px solid black;
	margin: 25px;
	padding: 25px;
}

.extra {
	display: none;
}*/

div {
	border:1px solid black;
}

/*body {
	yo!
	display: inline;
}*/

.col-md-3 {
/*	
	float: left;
*/}